* {
    margin: 0;
    padding: 0;
}

#canvasContainer, 
#createImage {
    display: flex;
    justify-content: center;
    padding: 3rem;
}

#canvasContainer>canvas {

    background-color: blue;
}

#imgContainer {
    display: none;
}
