* {
    margin: 0;
    padding: 0;
}

#canvasContainer,
#createImage, 
#settings{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

#canvasContainer,
#list {
    flex-direction: column;
    align-items: center;
}

body,
#canvasContainer>canvas {
    background-color: whitesmoke;
}

#imgContainer {
    display: none;
}